{% extends 'main.html' %}


{% block content %}

<h1>{{user.username}}</h1>

<div class="profile-container">
    <div>
        {% include 'base/topics_component.html' %}
    </div>
    <div>
        {% include 'base/feed_component.html' %}
    </div>
    <div>
        {% include 'base/activity_component.html' %}
    </div>
</div>

{% for room_message in room_messages %}
    <p>{{room_message}}</p>
    <small>posted in {{room_message.room}} <i>{{room_message.created|timesince}} ago</i></small>
{% endfor %}
{% endblock content %}